@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.scss";
@import "navbar.scss";
@import "typo.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --green: #90b796;
    --red: #af1b3f;
    --purple: #473144;
    --orange: #df9b6d;
    --pink: #e39695;

    --background: #f7fafb;
    --font: #0d0b30;
    --link-active: var(--green);
}

html,
body {
    background-color: var(--background);
    color: var(--font);
    font-family: Inter, sans-serif;
    font-size: 16px;
}

a {
    transition: color 0.3s;
}

svg {
    transition: fill 0.3s;
}

a:hover,
a:active {
    color: var(--link-active);
}

a:hover > svg,
a:active > svg {
    fill: var(--link-active);
}
