@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.scss";
@import "navbar.scss";

:root {
    --green: #90b796;
    --red: #af1b3f;
    --purple: #473144;
    --orange: #df9b6d;
    --pink: #e39695;

    --link-active: var(--green);
    --font: #0d0b30;
}

html,
body,
svg {
    background-color: #fff;
    color: var(--font);
}

a {
    transition: color 0.3s;
}

svg {
    transition: fill 0.3s;
}

a:hover,
a:active {
    color: var(--link-active);
}

a:hover > svg,
a:active > svg {
    fill: var(--link-active);
}
